body {
    background-image: url(record.png);
    background-repeat: repeat;
    margin: 0;
}

.title {
    background-color: rgb(69, 69, 69);
    color: white;
    text-align: center;
}

.store {
    padding: 1em;
    background: lightgrey;
}

.questions {
    background-color: beige;

}